{% extends "base.html5" %}
{% load static %}
{% block head %}
<title>Jian-Ming Tang Publication List</title>
<link rel="stylesheet" type="text/css"
	href="{% static "mypub/css/classic.css" %}">
<style>
#my {
	padding: 20px;
	margin: 0px;
	border: 0px;
	border-radius: 10px;
	background: linear-gradient(to right,#ffcccc,white);
        -webkit-animation: mymove .5s;
        animation: mymove .5s;
}
@-webkit-keyframes mymove {
	0%   {width: 50%; margin: 100px;}
	100% {width: 95%; margin: 0px;}
}
@keyframes mymove {
	0%   {width: 50%; margin: 100px;}
	100% {width: 95%; margin: 0px;}
}
</style>
{% endblock head %}
{% block body %}
{% for a,j,ul,vl,t in paper %}
	<div id="my">{% include "mypub/show_one_paper.html" %}</div>
{% endfor %}
<p>
<form name="input" action="{% url "mypub" %}" method="post">{% csrf_token %}
<input type="submit" value="Back to Publication Page">
</form>
{% endblock body %}
