{% extends "base.html5" %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css"
	href="{% static "mypub/css/classic.css" %}">
{% endblock head %}
{% block body %}
{% autoescape off %}
<div id="search_box">
   <form action="search" method="get">
      <input type="text" name="s">
      <input type="submit" value="Search">
   </form>
</div>
{% if msg %}
   {{ msg }}
   <h1>Search Found List:</h1>
{% else %}
   <h1>Publication List:</h1>
{% endif %}
{% if plist %}
   <ol>
   {% for a,j,ul,vl,t in plist %}
      <li><a href="{{a.id}}"><b>{{a.title}}</b></a><br/>
         <i>{{a.author}}</i><br/>
         <a href="{{j.link}}">{{j.title}}
            <b>{{j.volume}}</b>, {{j.page}} ({{j.year}})</a>
         {% spaceless %}
         {% for u in ul %}
            {% if "http" in u.link %}
               <a href="{{u.link}}">{{u.name}}</a>
            {% else %}
               <a href="{% static "mypub/pdf/" %}{{u.link}}">{{u.name}}</a>
            {% endif %}
         {% endfor %}
         {% for v in vl %}
            {{v.title}} <b>{{v.volume}}</b>({{v.issue}}) ({{v.year}});
         {% endfor %}
         <br/>
         {% endspaceless %}
         <table>
         <tr>
         <td><img src="{% static "mypub/thumb/" %}{{t}}"></td>
         <td>{{a.abstract|safe}}</td>
         </tr>
         </table>
      </li><br/>
   {% endfor %}
   </ol>
{% else %}
   <p>No papers are available.</p>
{% endif %}
{% endautoescape %}
{% endblock body %}
