body {
	background-color: #cccccc;
}

table {
        background: linear-gradient(#d0e4fe,white);
        width: 90%;
	padding: 0px 5px;
}

tr {
        vertical-align: top;
}

td {
	padding: 5px;
}

img {
	background-color: white;
	border: 0;
}

h3 {
	margin: 0px;
}

a:link {
	text-decoration: none;
}

#search_box {
	float: right;
	background: linear-gradient(lightgreen,white);
	padding: 4px 2px;
	border: 0px;
	border-radius: 5px;
	box-shadow: 10px 10px 5px #888888;
}

#search_box input {
	border: 1px solid;
	border-radius: 5px;
	font-family: arial;
	font-weight: bold;
	font-size: 16px;
}

#search_box a {
	float: right;
}

#search_box ul.errorlist {
	display:none;
}

#sort_box {
	padding-left: 30%;
	background: linear-gradient(to right,blue,white);
}

#sort_box input {
	border-radius: 5px;
	font-family: arial;
	font-weight: bold;
	font-size: 16px;
}

#sort_box select {
	font-family: arial;
	font-weight: bold;
	font-size: 16px;
}

#sort_box ul.errorlist {
	display:none;
}
